.content{
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

.centered {
    position: absolute;
    font-style: italic;
    text-shadow: dimgrey;
    font-size: 40px;
    color: azure;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    background-color: beige;
}

.tiles{
    width: 250px;
    height: 250px;
    padding: 20px;
}

#thumbnails{
    margin-left: 
}

.figcap{
    position: relative;
    font-size: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.videos{
    width: 350px;
    height: 250px;
    padding: 10px;
    float: left;
}

aside.sticky{
    float: right;
    position: relative, webkit-sticky;
    margin-top: 60px;
    width: 30%;
    height: 1300px;
    background-color: chocolate;
}

aside h2{
    margin-left: 10px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: darkred;
    padding: 25px;
    font-size: 20px;
}

aside iframe{
    padding: 10px;
}

article{
  font-family: 'Montserrat', sans-serif;
}

table{
    width: 100%;
}

table caption{
    background-color: gray;
    color: aliceblue;
}

table colgroup{
    background-color: chocolate;
}

.column{
    float: left;
    width: 200px;
    padding: 10px;
}

.block_section{
    float: left;
    width: 50%;
    padding: 10px;
}

.rotate:hover{
    transform: rotate(270deg);
}

.skew:hover{
    transform: skew(90deg);
}

.scale:hover{
    transform: scale(4,5);
}

.translate:hover{
    transform: translate(100px,50px);
}

.rounded {
    border-radius: 25px;
    background: rgb(33, 164, 173);
    padding: 20px; 
    width: 200px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    box-shadow: 10px 10px 5px grey;
    transition: transform 2s;
  }